{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [1, 4],
    "@typescript-eslint/indent": [1, 4],
    "semi":"off",
    "@typescript-eslint/semi": ["error","always"]
  }
}